#!/bin/bash

# Deploys server

# Get git branch
if [ -z "$1" ]; then
    BRANCH={{ default_branches[greetings_env] }}
else
    BRANCH=$1
fi

# Clone repo and/or checkout code
cd /opt
if [ ! -d "{{ greetings_project_folder }}" ]; then
    git clone {{ greetings_repo_url }}
fi
cd {{ greetings_project_folder }}
git checkout ${BRANCH}
git pull

# Clean old code and deploy new code
rm -rf {{ html_docroot }}/*
cp -r src/* {{ html_docroot }}/

# Make sure nginx is started/restarted
service nginx restart