#!/bin/bash

# Deploys server

# Get git branch
if [ -z "$1" ]; then
    BRANCH={{ default_branches[greetings_env] }}
else
    BRANCH=$1
fi

# Grab code from S3 bucket
cd /opt
if [ ! -d "{{ greetings_project_folder }}" ]; then
    mkdir {{ greetings_repo_url }}
fi
aws s3 cp s3://maplebird-greetings-project/{{ greetings_env }} /opt/{{ greetings_project_folder }}/ --recursive

# Clean, install dependencies
cd /opt/{{ greetings_project_folder }}
rm -rf node_modules
npm install
